.headerBar {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #faf9fb;
	width: 100%;
	padding: 4px;
	clear: both;
	z-index: 1;
}

.spacer {
    z-index: -1;
    visibility: hidden;
    position: relative;
    width: 100%;
    display: fixed;
    height: 80px;
}

.content {
    position: relative;
    display: fixed;
}

.urlInput{
	margin: auto 8px;
	margin-left: 32px;
}

.title {
	margin: auto 8px;
}
